<%= form_with(model: @aesthetic, local: true, html: { id: "aesthetic-form", style: "font-family: Verdana, sans-serif;"  }) do |form| %>
  <% @aesthetic.colors.each do |color| %>
    <div class="field">
      <%= form.label "#{color[0].underscore}", color[0] %>
      <%= form.color_field "colors[][1]", value: color[1], class: 'color-picker' %>
      <%= form.hidden_field "colors[][0]", value: color[0] %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :font, "Font" %>
    <%= form.select :font, options_for_select([
        ['Verdana', 'Verdana, sans-serif'],
        ['Courier New', 'Courier New, monospace'],
        ['Papyrus', 'Papyrus, fantasy'],
        ['Georgia', 'Georgia, serif'],
        ['Lucida Handwriting', 'Lucida Handwriting, cursive']
      ], @aesthetic.font) %>
  </div>

  <div class="actions">
    <%= button_tag type: 'submit', class: 'btn btn-login' do %><i class="fas fa-save"></i><% end %>
    <%= link_to game_path(@aesthetic.game_id), method: :get, class: "btn btn-login" do %><i class="fas fa-gamepad"></i><% end %>
  </div>
<% end %>