<%= render "shared/all_pages_nav" %>
<h1>Edit Aesthetic</h1>

<div style="--primary-clr: <%= @aesthetic.colors[0]  %>; --font-clr: <%= @aesthetic.colors[3] %>; --font: <%= @aesthetic.font %>; 
            --secondary-clr: <%= @aesthetic.colors[1] %>; --tertiary-clr: <%= @aesthetic.colors[2] %>; display: flex; flex-direction: row; justify-content: space-between;">
    <div>
    <%= render 'form' %>
    </div>
    <div class="live-demo" id="live-demo">
    <%= render "shared/#{@aesthetic.game_id}" %>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('aesthetic-form');
        const liveDemoDiv = document.getElementById('live-demo');
        
        // Get the game_id from the Ruby variable
        const gameId = <%= @aesthetic.game_id %>;

        form.addEventListener('change', function() {
            const formData = new FormData(form);
            const params = new URLSearchParams();

            formData.forEach((value, key) => {
                params.append(key, value);
            });

            params.append('game_id', gameId);

            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            fetch('<%= reload_demo_path(Aesthetic.find(Game.find_by(name: "Dummy Game").id)) %>', {
                method: 'PATCH',
                body: params,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRF-Token': csrfToken
                }
            })
            .then(response => response.text())
            .then(html => {
                liveDemoDiv.innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>