<%= render "shared/all_pages_nav" %>
<h1>Edit Aesthetic</h1>

<div style="--primary-clr: <%= @aesthetic.primary_clr  %>; --font-clr: <%= @aesthetic.font_clr %>; --font: <%= @aesthetic.font %>; --secondary-clr: <%= @aesthetic.secondary_clr %>;">
    <%= render 'form' %>
<div/>