<%= form_with(model: wordle_valid_solution, id: 'wordleSolutionEdit') do |form| %>
  <% if wordle_valid_solution.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wordle_valid_solution.errors.count, "error") %> prohibited this wordle from being saved:</h2>

      <ul>
        <% wordle_valid_solution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <caption>Word Details </caption>
      <tr>
        <td><strong>Word:</strong></td>
        <td><%= form.text_field :word %></td>
      </tr>
  </table>
  <br>
  <div class="user-options">
    <button type="submit" class="btn btn-login" onclick="submitWordleValidSolutionForm()">Update Word</button>
    <% if !params[:id].nil? %>
      <button class="btn btn-login" onclick="showWord('<%= @wordle_valid_solution.id %>')">Cancel</button>
    <% else %>
       <button class="btn btn-login" onclick="showWord('<%= @wordle_valid_solution.id %>')">Cancel</button>
    <% end %>
  </div>
  <br>
<% end %>
