<div id="modal-body">
  <% if @wordle_valid_solution.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@wordle_valid_solution.errors.count, "error") %> prohibited this wordle from being saved:</h2>
      <ul>
        <% @wordle_valid_solution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Word Details</h3>
  <table>
    <tr>
      <td><strong>Word:</strong></td>
      <td>
        <input type="text" id="wordle-word" value="<%= @wordle_valid_solution.word %>">
      </td>
    </tr>
  </table>
  <br>
  <div class="user-options">
    <button type="button" class="btn btn-login" onclick="submitWordleValidSolutionForm('<%= @wordle_valid_solution.id %>')">Save Word</button>
    <button type="button" class="btn btn-login" onclick="showWord('<%= @wordle_valid_solution.id %>')">Cancel</button>
  </div>
  <br>
</div>