<%= form_with(model: wordle) do |form| %>
  <% if wordle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wordle.errors.count, "error") %> prohibited this wordle from being saved:</h2>

      <ul>
        <% wordle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <caption>Word Details </caption>
      <tr>
        <td><strong>Play Date</strong></td>
        <td><%= form.text_field :play_date %></td>
      </tr>
      <tr>
        <td><strong>Last Name:</strong></td>
        <td><%= form.text_field :word %></td>
      </tr>
  </table>
  <br>
  <div class="user-options">
    <%= form.submit class: 'btn btn-login'%>
    <%= link_to "Cancel", wordle_path(@wordle), class:"btn btn-login" %>
  </div>
  <br>
<% end %>
