<%= render "/shared/all_pages_nav" %>

<% content_for :title, "Wordle Word List" %>

<h1>Wordle Word Plays</h1>

<div>
<table>
    <thead>
      <tr>
        <% ["play_date", "word"].each do |attr| %>
            <th class="<%= params[:sort] == attr && params[:asc] == 'true' ? 'sorted_asc' : params[:sort] == attr ? 'sorted_desc' : ''%>" > 
              <%= attr.capitalize.sub "_", " " %>
              <p style="display:inline;font-size:15px;">
              <%= link_to "\u25B2", { :sort => attr, :asc => true }, class: "sort_asc", onclick: "sort = '${attr}'; asc = 'true'" %>
              <%= link_to "\u25BC", { :sort => attr, :asc => false }, class: "sort_desc", onclick: "sort = '${attr}'; asc = 'false'" %>
              <p>
            </th>
        <% end %>
        <th> Actions </th>
      </tr>
    </thead>
    </tbody>
      <% @wordles.each do |word| %>
          <tr>
            <td><%= word.play_date %></td>
            <td><%= word.word %></td>
            <td>
              <%= button_to wordle_path(word), method: :get, class:"setter_actions", title:"View Wordle" do %>
                <i class="fas fa-glasses"></i>
              <% end %>
              <%= button_to edit_wordle_path(word), method: :get, class:"setter_actions", title:"Edit Wordle" do %>
                <i class="fas fa-pen"></i>
              <% end %>
              <%= button_to wordle_path(word), method: :delete, class:"setter_actions", title:"Delete Wordle" do %>
                <i class="fas fa-trash"></i>
              <% end %>
              <br>
            </td>
            </tr>
        <% end %>
      </tbody>
  </table>
</div>
<div class="user-options">
  <%= button_to "New Wordle Play", new_wordle_path, method: :get, class:"btn btn-login" %>
  <%= button_to "Valid Wordle Solutions", wordle_valid_solutions_path, method: :get, class:"btn btn-login" %>
  <%= button_to "Valid Wordle Guesses", wordle_valid_guesses_path, method: :get, class:"btn btn-login" %>
  </div>