<%= javascript_include_tag "wordle_puzzle_setter" %>
<%= render "/shared/all_pages_nav" %>

<h1>Wordle Word Plays</h1>
<i> Click on any row for more actions </i>

<div>
<table>
    <thead>
      <tr>
        <% ["play_date", "word"].each do |attr| %>
            <th class="<%= params[:sort] == attr && params[:asc] == 'true' ? 'sorted_asc' : params[:sort] == attr ? 'sorted_desc' : ''%>" > 
              <%= attr.capitalize.sub "_", " " %>
              <p style="display:inline;font-size:15px;">
              <%= link_to "\u25B2", { :sort => attr, :asc => true }, class: "sort_asc", onclick: "sort = '${attr}'; asc = 'true'" %>
              <%= link_to "\u25BC", { :sort => attr, :asc => false }, class: "sort_desc", onclick: "sort = '${attr}'; asc = 'false'" %>
              <p>
            </th>
        <% end %>
      </tr>
    </thead>
    </tbody>
      <% @wordles.each do |word| %>
          <tr onclick="window.location.href='<%= wordle_path(word) %>'">
            <td><%= word.play_date %></td>
            <td><%= word.word %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
<div class="user-options">
  <%= button_to "New Wordle Play", new_wordle_path, method: :get, class:"btn btn-login" %>
  <%= button_to "Wordle Dictionary", wordle_dictionaries_path, method: :get, class:"btn btn-login" %>
  <%= link_to game_path(Game.where(name: "Wordle")&.first.id), method: :get, class: "btn btn-login" do %><i class="fas fa-gamepad"></i><% end %>
</div>