<%= render "/games/all_pages_nav" %>

<div>
  <h2>Play Wordle!!</h2>

  <!-- Wordle Grid -->
  <div id="wordle-grid">
    <% 6.times do |row_idx| %>
      <div class="wordle-row">
        <% 5.times do |col_idx| %>
          <div class="wordle-tile" id="tile-<%= row_idx %>-<%= col_idx %>"></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>

  <!-- On-Screen Keyboard -->
  <div id="keyboard-container">
    <div id="keyboard">
      <% ['QWERTYUIOP', 'ASDFGHJKL', 'ZXCVBNM'].each do |row| %>
        <div class="keyboard-row">
          <% row.split('').each do |key| %>
            <button class="keyboard-key" data-key="<%= key %>"><%= key %></button>
          <% end %>
        </div>
      <% end %>
      <button class="keyboard-key" data-key="ENTER">ENTER</button>
      <button class="keyboard-key" data-key="BACKSPACE">⌫</button>
    </div>
  </div>

  <br>

  <!-- Game Control Section -->
  <div>
    <p>Attempts: <%= session[:wordle_attempts] %></p>
    <p>Definition: <%= word_definition %></p>
    <p>Used up letters: <%= session[:wordle_alphabet_used].to_a.join(", ") %></p>
    <p>Used up words: <%= session[:wordle_words_guessed].to_a.join(", ") %></p>
  </div>

  <%= delete_game_session %>
</div>

<!-- Include wordle.js -->
<%= javascript_include_tag 'wordle', 'data-turbolinks-track': 'reload' %>
