<%= render "shared/all_pages_nav" %>

  <table>
    <caption>All Users</caption>
    <thead>
      <tr>
        <% ["first_name", "last_name", "connected accounts", "roles"].each do |attr| %>
          <th style="color:white;">
            <%= attr.capitalize.sub("_", " ") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>

          <!---- What accounts are connected? -->
          <td>
            <% all_auths = UserService.fetch_connected_auths(user) %>
            <% if all_auths.key?('email') || all_auths.key?('github') || all_auths.key?('spotify') %>
            <div>
              <% if all_auths.key?('email') %> <!-- Google -->
                <div title="<%= all_auths['email'] %>">
                  <button class="btn sso-btn sso-logo">
                    <i class="fab fa-google"></i>
                  </button>
                </div>
              <% end %>
              <% if all_auths.key?('spotify') %> <!-- Spotify Logo -->
                <div title="<%= all_auths['spotify'] %>">
                  <button class="btn sso-btn sso-logo">
                    <i class="fab fa-spotify"></i>
                  </button>
                </div>
              <% end %>
              <% if all_auths.key?('github') %> <!-- Github Logo -->
                <div title="<%= all_auths['github'] %>">
                  <button class="btn sso-btn sso-logo">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              <% end %>
              <% end %>
            </div>
            </td>
          <!---- What roles does the user have? -->
          <td>
            <%= link_to(roles_path(user_id: user.id), class:"manage-roles-link") do %>
              <div class="role-entries">
                <% user.roles.each do |role| %>
                  <% if role.role != "Member" %>
                    <% if Role.game_roles.include? role.role %>
                      <div class="dropdown">
                        <div class="role-badge" style="background-color: <%= Role.role_color(role.game ? role.game.name : role.role) %>">
                          <%= role.game ? role.game.name : role.role %>
                        </div>
                        <div class="dropdown-content role-description" style="background-color: <%= Role.role_color(role.game ? role.game.name : role.role).sub! "0.4", "1" %>">
                          <%= role.role %>
                        </div>
                      </div>
                    <% else %>
                      <div class="role-badge" style="background-color: <%= Role.role_color(role.game ? role.game.name : role.role) %>">
                        <%= role.game ? role.game.name : role.role %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="border-bottom: 2px solid white;"></td>
        </tr>
      <% end %>
    </tbody>
  </table>