<%= render "/games/all_pages_nav" %>

<table>
<caption>View Profile Details </caption>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @current_user.email %></td>
  </tr>
  <tr>
    <td><strong>First Name:</strong></td>
    <td><%= @current_user.first_name %></td>
  </tr>
  <tr>
    <td><strong>Last Name:</strong></td>
    <td><%= @current_user.last_name %></td>
  </tr>
</table>

<br><br>

<div class='user-options'>
  <%= button_to "Edit Account", edit_user_path(@current_user), method: :get, class:"btn btn-login" %>
  <%= button_to "Delete Account", user_path(@current_user), data: { method: :delete, confirm: 'Are you sure?'}, class: "btn btn-login " %>
</div>