<%= render "shared/all_pages_nav" %>

<div class="profile-container">
  <h3>Profile Information</h3>
  <div class="profile-section">
    <p class="sso-info"><strong>First Name:</strong> <%= @current_user.first_name %></p>
    <p class="sso-info"><strong>Last Name:</strong> <%= @current_user.last_name %></p>
  </div>
  
  <h3>Connected Accounts</h3>
  <div class="sso-account">
    <!-- Google Account -->
    <div class="sso-btns">
      <button class="btn sso-btn sso-logo">
        <i class="fab fa-google"></i>
      </button>
      <% if @current_user.email.present? && (@current_user.spotify_username.blank? && @current_user.github_username.blank?) %>
        <button title="Cannot unlink Google. Please connect another account first." class="btn sso-btn sso-no">
          <i class="fas fa-unlink"></i>
        </button>
      <% else %>
        <%= button_to @current_user.email.present? ? user_path(@current_user) : "/auth/google_oauth2", 
          method: @current_user.email.present? ? :patch : :post, 
          params: @current_user.email.present? ? { user: { email: nil } } : {}, 
          title: @current_user.email.present? ? "Unlink Google account" : "Link Google account",
          class: @current_user.email.present? ? "btn sso-btn dis-btn" : "btn sso-btn con-btn", 
          data: { confirm: @current_user.email.present? ? 'Are you sure you want to unlink your Google account?
Please visit https://myaccount.google.com/connections to delete your permissions.' : nil } do %>
          <% if @current_user.email.present? %><i class="fas fa-unlink"></i>
          <% else %><i class="fas fa-link"></i>
          <% end %>
        <% end %>
      <% end %>
      <span class="sso-info"><%= @current_user.email.present? ? @current_user.email : '' %></span>
    </div>

    <!-- Spotify Account -->
    <div class="sso-btns">
      <!-- Similar block as above for Spotify -->
    </div>

    <!-- GitHub Account -->
    <div class="sso-btns">
      <!-- Similar block as above for GitHub -->
    </div>
  </div>

  <div class="role-info">
    <h3>Current Active Roles</h3>
    <ul>
      <% @settings.active_roles.split(",") do |role_info| %>
        <% if role_info.include?('-') %>
          <% role_info, game_info = role_info.split('-') %>
          <li><%= role_info %> for <%= game_info %></li>
        <% else %>
          <li><%= role_info %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="user-options-container">
    <h3>Profile Options</h3>
    <div class="user-options">
      <%= button_to edit_user_path(@current_user), title: "Edit account", method: :get, class: "btn btn-login" do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= button_to user_path(@current_user), title: "Delete account", method: :delete, 
      data: { confirm: 'Are you sure you want to delete your account?' }, class: "btn btn-login dis-btn" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>
