<%= render "/games/all_pages_nav" %>

<table>
  <caption>View Profile Details</caption>
  <tr>
    <td><strong>First Name:</strong></td>
    <td><%= @current_user.first_name %></td>
  </tr>
  <tr>
    <td><strong>Last Name:</strong></td>
    <td><%= @current_user.last_name %></td>
  </tr>
  <tr>
    <td><strong>Email:</strong></td>
    <td><%= @current_user.email %></td>
  </tr>
  <tr>
    <td><strong>GitHub Username:</strong></td>
    <td><%= @current_user.github_username %></td>
  </tr>
  <tr>
    <td><strong>Spotify Username:</strong></td>
    <td><%= @current_user.spotify_username %></td>
  </tr>
</table>

<br><br>

<div class='user-options'>
  <%= button_to "Edit Account", edit_user_path(@current_user), method: :get, class: "btn btn-login" %>

  <% if @current_user.email.nil? || @current_user.email.empty? %>
    <%= button_to "Link Google Account", "/auth/google_oauth2", data: { turbo: "false" }, class: 'btn btn-login', aria: { label: "Link your Google account" } %>
  <% end %>

  <% if @current_user.github_username.nil? || @current_user.github_username.empty? %>
    <%= button_to "Link GitHub Account", "/auth/github", data: { turbo: "false" }, class: 'btn btn-login', aria: { label: "Link your GitHub account" } %>
  <% end %>

  <% if @current_user.spotify_username.nil? || @current_user.spotify_username.empty? %>
    <%= button_to "Link Spotify Account", "/auth/spotify", data: { turbo: "false" }, class: 'btn btn-login', aria: { label: "Link your Spotify account" } %>
  <% end %>

  <%= button_to "Delete Account", user_path(@current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-login" %>
</div>
