<div class='all'>
    <div class="header">
        <% if session[:guest] %>
        <h1>Welcome, Guest!</h2>
        <% else %>
        <h1>Howdy <%= @current_user.first_name %>!</h2>
        <h4>
            <% if @current_user && SettingsService.role_exists?(@current_user, "System Admin") %>
                You are logged in as System Admin
            <% end %>
        </h4>
        <% end %>
    </div>
    
    <div class="nav-bar">
        <% if session[:guest] %>
        <div class="login-buttons">
            <div class="sso-container">
                <%= button_to "#", class: 'btn btn-login', method: :get, data: { turbo: "false" }, aria: { label: "Log in via SSO" } do %>
                Login via SSO
                <% end %>
                <div class="sso-options">
                    <%= button_to "/auth/google_oauth2", title: "Login with Google", class: "btn sso-btn", aria: { label: "Log in via Gmail" }, data: { turbo: false } do %>
                    <i class="fab fa-google"></i>
                    <% end %>

                    <%= button_to "/auth/github", title: "Login with GitHub", class: "btn sso-btn", aria: { label: "Log in via GitHub" }, data: { turbo: false } do %>
                    <i class="fab fa-github"></i>
                    <% end %>

                    <%= button_to "/auth/spotify", title: "Login with Spotify", class: "btn sso-btn", aria: { label: "Log in via Spotify" }, data: { turbo: false } do %>
                    <i class="fab fa-spotify"></i>
                    <% end %>
                </div>
            </div>
        </div>
        <% else %>
        <div class="dropdown">
            <button id="myacc" title="My Account", class="btn btn-login"><i class="fas fa-user"></i></button>
            <div class="dropdown-content">
                <%= link_to dashboard_path do %><i class="fas fa-chart-bar"></i> Statistics<% end %>
                
                <%= link_to user_path(@current_user) do %><i class="fas fa-user-circle"></i> Profile<% end %>
                
                <%= link_to logout_path do %><i class="fas fa-sign-out-alt"></i> Log Out<% end %>
            </div>
        </div>
        <% end %>

        <%= render "/shared/accessibility_features" %>
        
        <div class="dropdown">
        <%= button_to games_path, title: "Home", method: :get, class: 'btn btn-login dropdown-btn' do %>
            <i class="fas fa-home"></i>
        <% end %>

        <!-- Dropdown menu items -->
        <div class="dropdown-content">
            <%= link_to "Home", games_path, class: 'dropdown-item', title: "Go to Homepage"%>
            <% allGames = Game.all%>
            <% allGames.each do |game| %>
            <%= link_to game.name, game_path(game), class: 'dropdown-item', title: "Play " + game.name %>
            <% end %>
        </div>
        </div>

        <% if @current_user && SettingsService.role_exists?(@current_user, "System Admin") %>
            <%= button_to users_path, title: "All users", method: :get, class: 'btn btn-admin' do %><i class="fas fa-users"></i><% end %>
        <% end%>
    </div>
</div>

