<div class='all'>
    <div class="header">
        <% if session[:guest] %>
        <h1>Welcome, Guest!</h2>
        <% else %>
        <h1>Howdy <%= @current_user.first_name %>!</h2>
        <h4>
        <%=
            if Role.find_by(user_id: @current_user.id).role !='Member'
            "You are logged in as #{ Role.find_by(user_id: @current_user.id).role }"
            end
        %>
        </h4>
        <% end %>
    </div>
    
    <div class="nav-bar">
        <% if session[:guest] %>
        <div class="login-buttons">
            <div class="sso-container">
                <%= button_to "#", class: 'btn btn-login', method: :get, data: { turbo: "false" }, aria: { label: "Log in via SSO" } do %>
                Login via SSO
                <% end %>
                <div class="sso-options">
                <%= button_to "/auth/google_oauth2", class: "sso-btn" do %><i class="fab fa-google"></i><% end %>
                <%= button_to "/auth/github?allow_signup=true", class: "sso-btn" do %><i class="fab fa-github"></i><% end %>
                <%= button_to "/auth/spotify", class: "sso-btn" do %><i class="fab fa-spotify"></i><% end %>
                </div>
            </div>
        </div>
        <% else %>
        <div class="dropdown">
            <button id="myacc" class="btn btn-login"><i class="fas fa-user"></i></button>
            <div class="dropdown-content">
                <%= link_to dashboard_path do %><i class="fas fa-chart-bar"></i> Statistics<% end %>
                
                <%= link_to user_path(@current_user) do %><i class="fas fa-user-circle"></i> Profile<% end %>
                
                <%= link_to logout_path do %><i class="fas fa-sign-out-alt"></i> Log Out<% end %>
            </div>
        </div>
        <% end %>

        <%= render "/games/accessibility_features" %>
        
        <%= button_to games_path, method: :get, class: 'btn btn-login' do %><i class="fas fa-home"></i><% end %>
        
        <% if @current_user and Role.find_by(user_id: @current_user.id).role =='System Admin' %>
            <%= button_to users_path, method: :get, class: 'btn btn-admin' do %><i class="fas fa-users"></i><% end %>
        <% end%>
    </div>
</div>