<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"></head>
<div class='all'>
    <div class="header">
        <% if session[:guest] %>
        <h1>Welcome, Guest!</h2>
        <% else %>
        <h1>Howdy <%= @current_user.first_name %>!</h2>
        <h4>
        <%=
            if Role.find_by(user_id: @current_user.id).role !='Member'
            "You are logged in as #{ Role.find_by(user_id: @current_user.id).role }"
            end
        %>
        </h4>
        <% end %>
    </div>
    
    <div class="nav-bar">
        <% if session[:guest] %>
        <div class="login-buttons">
            <div class="sso-container">
                <%= button_to "#", class: 'btn btn-login', method: :get, data: { turbo: "false" }, aria: { label: "Log in via SSO" } do %>
                Login via SSO
                <% end %>
                <div class="sso-options">
                <%= button_to "/auth/google_oauth2", class: "sso-btn" do %><i class="fab fa-google"></i><% end %>
                <%= button_to "/auth/github?allow_signup=true", class: "sso-btn" do %><i class="fab fa-github"></i><% end %>
                <%= button_to "/auth/spotify", class: "sso-btn" do %><i class="fab fa-spotify"></i><% end %>
                </div>
            </div>
        </div>
        <% else %>
        <div class="dropdown">
            <button id="myacc" class="btn btn-login">My Account</button>
            <div class="dropdown-content">
            <%= link_to 'Game Statistics', dashboard_path %>
            <%= link_to 'Profile', user_path(@current_user) %>
            <%= link_to 'Log Out', logout_path %>
            </div>
        </div>
        <% end %>

        <%= render "/games/accessibility_features" %>
        
        <%= button_to 'Home', games_path, class: 'btn btn-login', method: :get %>
        

        <% if @current_user and Role.find_by(user_id: @current_user.id).role =='System Admin' %>
        <%= button_to 'All Users', users_path, method: :get, class: 'btn btn-admin' %>
        <% end%>
    </div>
</div>