<head>
    <div class="header">
        <% if session[:guest] %>
        <h2>Welcome, Guest!</h2>
        <% else %>
        <h2>Howdy <%= @current_user.first_name %>!</h2>
        <h3>
        <%=
            if true#@current_user.role.name != 'Member'
            "You are logged in as #{ Role.find_by(user_id: @current_user.id).name }"
            end
        %>
        </h3>
        <% end %>
    </div>
    
    <div class="nav-bar">

        <%= render "accessibility_features" %>
        
        <%= link_to 'Home', games_path, class: 'btn' %>
        <% if session[:guest] %>
        <!-- Login Button -->
        <%= link_to "Login with Google", "/auth/google_oauth2", data: {turbo: "false"}, class: 'btn btn-login' %>
        <% else %>    
        <!-- My Account Dropdown -->
        <div class="dropdown">
            <button class="dropbtn">My Account</button>
            <div class="dropdown-content">
            <%= link_to 'Game Statistics', '#' %>
            <%= link_to 'Profile', user_path(@current_user) %>
            <%= link_to 'Log Out', logout_path, method: :delete %>
            </div>
        </div>
        <% end %>

        <% if @current_user and Role.find_by(user_id: @current_user.id).name =='System Admin' %>
        <%= link_to 'All Users for Admin', users_path, class: 'btn btn-admin' %>
        <% end%>
    </div>
</head>