<%= render "/games/all_pages_nav" %>

<h2 class='sb-title'>Spelling Bee</h2>

<div class='sb-game'>
    <div class='sb-left'>
        <div class='sb-letters'>
            <div class='sb-empty'></div>
            <div class='sb-letter'><%= @sbletters[0] %></div>
            <div class='sb-letter'><%= @sbletters[1] %></div>
            <div class='sb-letter'><%= @sbletters[2] %></div>
            <div class='sb-center'><%= @sbcenter %></div>
            <div class='sb-letter'><%= @sbletters[3] %></div>
            <div class='sb-letter'><%= @sbletters[4] %></div>
            <div class='sb-letter'><%= @sbletters[5] %></div>
            <div class='sb-empty'></div>
        </div>
        <%= form_with url: spellingbee_path, method: :post, local: true do %>
            <div class='sb-input'>
                <input type="text" name="sbword" placeholder="Enter your word here..." required minlength="4" maxlength="11" autocomplete="off" pattern="[A-Za-z]+" title="Only letters are allowed." />
                <button type="submit">Submit</button>
            </div>
        <% end %>
    </div>
    <div class='sb-right'>
        <div class='sb-score'
            <h3>Score: <%= @sbscore %> </h3>
        </div>
        Found words:
        <div class='sb-words'>
            <% @sbwords.each do |word| %>
                <%= word %>
            <% end %>
        </div>
    </div>
</div>

