<%= form_with model: bee, local: true, html: { style: "font-family: Verdana, sans-serif;" } do |form| %>
  <div>
    <%= form.label :center_letter, "Center Letter", style: "display: inline-block; width: 120px;" %>
    <input value="<%= @bee.letters[0] %>" type="text" id="center_letter" maxlength="1" pattern="[A-Za-z]" title="Only one letter allowed" required oninput="updateLetters()" style="width: 50px; height:30px; text-align: center; font-size: 1rem; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div>
    <%= form.label :letter_1, "Letter 1", style: "display: inline-block; width: 120px;" %>
    <input value="<%= @bee.letters[1] %>" type="text" id="letter_1" maxlength="1" pattern="[A-Za-z]" title="Only one letter allowed" required oninput="updateLetters()" style="width: 50px; height:30px; text-align: center; font-size: 1rem; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div>
    <%= form.label :letter_2, "Letter 2", style: "display: inline-block; width: 120px;" %>
    <input value="<%= @bee.letters[2] %>" type="text" id="letter_2" maxlength="1" pattern="[A-Za-z]" title="Only one letter allowed" required oninput="updateLetters()" style="width: 50px; height:30px; text-align: center; font-size: 1rem; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div>
    <%= form.label :letter_3, "Letter 3", style: "display: inline-block; width: 120px;" %>
    <input value="<%= @bee.letters[3] %>" type="text" id="letter_3" maxlength="1" pattern="[A-Za-z]" title="Only one letter allowed" required oninput="updateLetters()" style="width: 50px; height:30px; text-align: center; font-size: 1rem; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div>
    <%= form.label :letter_4, "Letter 4", style: "display: inline-block; width: 120px;" %>
    <input value="<%= @bee.letters[4] %>" type="text" id="letter_4" maxlength="1" pattern="[A-Za-z]" title="Only one letter allowed" required oninput="updateLetters()" style="width: 50px; height:30px; text-align: center; font-size: 1rem; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div>
    <%= form.label :letter_5, "Letter 5", style: "display: inline-block; width: 120px;" %>
    <input value="<%= @bee.letters[5] %>" type="text" id="letter_5" maxlength="1" pattern="[A-Za-z]" title="Only one letter allowed" required oninput="updateLetters()" style="width: 50px; height:30px; text-align: center; font-size: 1rem; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

  <div>
    <%= form.label :letter_6, "Letter 6", style: "display: inline-block; width: 120px;" %>
    <input value="<%= @bee.letters[6] %>" type="text" id="letter_6" maxlength="1" pattern="[A-Za-z]" title="Only one letter allowed" required oninput="updateLetters()" style="width: 50px; height:30px; text-align: center; font-size: 1rem; border: 1px solid #ccc; border-radius: 5px;" />
  </div>

    <%= form.hidden_field :letters, id: 'letters' %>

    <script>
      function updateLetters() {
        const centerLetter = document.getElementById("center_letter").value || '';
        const letters = [
          centerLetter,
          document.getElementById("letter_1").value,
          document.getElementById("letter_2").value,
          document.getElementById("letter_3").value,
          document.getElementById("letter_4").value,
          document.getElementById("letter_5").value,
          document.getElementById("letter_6").value
        ];
        const combined = letters.join('').toUpperCase();
        document.getElementById("letters").value = combined;
      }
    </script>

    <div class="actions">
      <%= button_tag type: 'submit', class: 'btn btn-login' do %><i class="fas fa-save"></i><% end %>
      <%= link_to bees_path(), method: :get, class: "btn btn-login" do %><i class="fas fa-eye"></i><% end %>
      <%= link_to bees_play_path, method: :get, class: "btn btn-login" do %><i class="fas fa-gamepad"></i><% end %>
    </div>
<% end %>