<%= render "shared/all_pages_nav" %>

<h2 class='sb-title'>Spelling Bee</h2>
<div style="--primary-clr: <%= @aesthetic.colors[0]  %>; --font-clr: <%= @aesthetic.colors[3] %>; --font: <%= @aesthetic.font %>; 
            --secondary-clr: <%= @aesthetic.colors[1] %>; --tertiary-clr: <%= @aesthetic.colors[2] %>;">
    <div id="htp-modal" class="htp" style="display: none; font-family: var(--font);">
        <div class="htp-content">
            <h2>How to play</h2>
            <ol>
                <li>Make up words that consist of letters displayed in the boxes.</li>
                <li>Words must include the center letter.</li>
                <li>Words must be atleast 4 letters long.</li>
                <li>Letters can be repeated.</li>
                <li>Score depends on the length of the word.</li>
            </ol>
            <button id="htp-play" class="btn btn-login">Play</button>
        </div>
    </div>

    <div class="user-options">
        <% if @current_user and SettingsService.role_exists?(@current_user, "Puzzle Aesthetician", Game.find_by(name: "Spelling Bee")) %>
        <%= button_to edit_aesthetic_path(@aesthetic) , method: :get, class: "btn btn-login btn-edit", title:"Aesthetic Settings" do %><i class="fas fa-pencil-alt"></i><% end %>
        <% end %>
        <% if @current_user and SettingsService.role_exists?(@current_user, "Puzzle Setter", Game.find_by(name: "Spelling Bee")) %>
        <%= button_to bees_path, method: :get, class: "btn btn-login btn-edit", title:"Puzzle Settings" do %><i class="material-icons" style="font-size: 20px;">color_lens</i><% end %>
        <% end %>
        <button id="htp-help" class="btn btn-login" title="How to Play">
        <i class="fas fa-question"></i>
        </button>
    </div>

    <% if session[:user_id].present? and Settings.find_by(user_id: session[:user_id]).game_font_casing %>
        <% letters = @bee.letters.upcase %>
        <% submitBtn = 'SUBMIT' %>
    <% else %>
         <% letters = @bee.letters.downcase %>
         <% submitBtn = 'submit' %>
    <% end %>

    <div class="sb-game">
        <div class='sb-left'>
            <div class="hex-container">
                <div class="hex-row">
                    <div class="hex" onclick="addLetter('<%= letters[1] %>')">
                        <span class="hex-content"><%= letters[1] %></span>
                    </div>
                    <div class="hex" onclick="addLetter('<%= letters[2] %>')">
                        <span class="hex-content"><%= letters[2] %></span>
                    </div>
                </div>
                <div class="hex-row">
                    <div class="hex" onclick="addLetter('<%= letters[3] %>')">
                        <span class="hex-content"><%= letters[3] %></span>
                    </div>
                    <div class="hex hex-center" onclick="addLetter('<%= letters[0] %>')">
                        <span class="hex-content"><%= letters[0] %></span>
                    </div>
                    <div class="hex" onclick="addLetter('<%= letters[4] %>')">
                        <span class="hex-content"><%= letters[4] %></span>
                    </div>
                </div>
                <div class="hex-row">
                    <div class="hex" onclick="addLetter('<%= letters[5] %>')">
                        <span class="hex-content"><%= letters[5] %></span>
                    </div>
                    <div class="hex" onclick="addLetter('<%= letters[6] %>')">
                        <span class="hex-content"><%= letters[6] %></span>
                    </div>
                </div>
            </div>
      
               <%= form_with url: submit_guess_bees_path, method: :post, local: true do %>
                    <div class='sb-input'>
                        <input type="text" id="sbenter" name="sbword" placeholder="Enter your word here..." required minlength="4" maxlength="11" autocomplete="off" pattern="[A-Za-z]+" title="Only letters are allowed." />
                        <button type="submit" id="sbsubmit" class="btn btn-login btn-admin" data-turbo="false"><%= submitBtn %></button>
                    </div>
                <% end %>

                
                <% if flash[:sb].present? %>
                    <div class="sb-error">
                    <p><%= flash[:sb] %></p>
                    </div>
                <% end %>
        </div>
        <div class='sb-right'>
            <div class='sb-score'>
                <h3 style="font-family: var(--font);">Score: <%= session[:sbscore] %> <br> 
                Rank: 
                    <% 
                    rank = case session[:sbscore]
                            when 0..5
                            "Beginner"
                            when 5..10
                            "Amoeba"
                            when 10..15
                            "Chimpanzee"
                            when 15..25
                            "Human"
                            when 25..35
                            "Ritchey"
                            else
                            "Legend"
                            end
                    %>
                    <%= rank %>
                </h3>
            </div>
                <p>Found words:</p>
                <div class='sb-words'>
                    <table style="all: unset;">
                    <% num_columns = 6 %>
                    <% num_rows = 7 %>
                    <% if session[:user_id].present? and Settings.find_by(user_id: session[:user_id]).game_font_casing %>
                        <% words = session[:sbwords].map(&:upcase).sort %>
                    <% else %>
                        <% words = session[:sbwords].map(&:downcase).sort %>
                    <% end %>
                    <% total_cells = num_columns * num_rows %>
                
                    <% padded_words = words.first(total_cells).concat([''] * (total_cells - words.length)) %>
                    <% columns = padded_words.each_slice(num_rows).to_a %>
                
                    <% num_rows.times do |row_index| %>
                        <tr>
                        <% num_columns.times do |col_index| %>
                            <td style="border: none;"><%= columns[col_index][row_index] %></td>
                        <% end %>
                        </tr>
                    <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<% if session[:spotify_playlist].present? %>
    <%= render "shared/spotify" %>
<% end %>

<script>
    var modal = document.getElementById("htp-modal");
    var playbutton = document.getElementById("htp-play");
    var helpbutton = document.getElementById("htp-help");

    playbutton.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    helpbutton.onclick = function() {
        modal.style.display = "flex";
    }

    document.addEventListener('keydown', function() {
        document.getElementById('sbenter').focus();
    });

    function addLetter(letter) {
        const input = document.getElementById('sbenter');
        input.value += letter;
        input.focus();
    }
</script>